body{
    font-family: 'Ubuntu', sans-serif;    
    margin: 0;
}

.text_left{
    padding: 90px 0;
    display: flex;
}

.text_div{
    margin: auto;
    width: 35%;
}
.text_div h1{
    font-size: 50px;
    padding-left: 5px;
    border-left: 5px solid #bb2646;
}
.text_div span{
    color: #2193b0;
}
.text_div p{
    font-size: 24px;
}
.text_div a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    background-image: linear-gradient(#2193b0, #6dd5ed);
    padding: 10px 20px;
    border-radius: 5px;
}
.image_div{
    margin: auto;
    width: 35%;
}

.image_div img{
    margin: auto;
    width: 100%;
}

#three_box_div{
    padding: 0px 20px;
    display: flex;
}
.one_box{
    width: 30%;
    padding: 40px;
    margin: 50px;
    border-radius: 30px;
    background-color: #EDF5F6;
}
.sec{
    background-color: #FFEEEE;
}
.third{
    background-color: #FFF4D6;
}

#three_box h1{
    font-size: 50px;
    margin-left: 80px;
}
#three_box h3{
    font-size: 30px;
}
#three_box {
    font-size: 20px;
}

#align_c{
    text-align: center;
}




#gallery h1{
    font-size: 50px;
    padding-left: 5px;
    border-left: 5px solid #bb2646;
    margin-left: 58px;
}

#image_g{
    margin: auto;
    width: 92%;
    padding: 10px;
}
footer{
    color: white;
    background-color: black;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

footer span{    
    color: #2193b0;
}